<footer class="footer">
  <div class="footer__container">
    <ul>
      <li>
        &copy; Bitnami 2017
      </li>
      <li class="separator"></li>
      <li>
        <a routerLink="/terms-of-service">Terms</a>
      </li>
      <li class="separator"></li>
      <li>
        <a href="https://bitnami.com/privacy" target="_blank">Privacy</a>
      </li>
    </ul>
    <div class="footer__supporter">
      <a href="https://bitnami.com" target="_blank"><img src="/assets/images/bitnami-logo.png" alt="Bitnami" /></a>
    </div>
  </div>
</footer>
