<div class="chart-details-comments">
  <h2>Comments</h2>
  <form *ngIf=loggedIn #commentForm="ngForm" (ngSubmit)="createComment()" >
    <textarea
      name="comment-text"
      placeholder="You're commenting as {{ commentAuthorName(user) }}"
      required
      maxLength="1024"
      [(ngModel)]="comment.text"></textarea>
    <button class="button button-action" type="submit" [disabled]="!commentForm.form.valid">Comment</button>
  </form>
  <h5 *ngIf="!loggedIn" class="comments-list__loggedout"><a href="/auth">You must be signed in to comment.</a></h5>
  <h5 *ngIf="loggedIn && (!comments || !comments.length)" class="comments-list__empty">Be the first to comment.</h5>
  <div class="comment-item" *ngFor="let comment of comments">
    <div class="comment-item-content">
      <div class="comment-item-content-header">
        <div class="comment-item-content-header-author">
          <img src="{{ comment.author.avatar_url }}">
          <span>{{ commentAuthorName(comment.author) }}</span> / {{ comment.created_at | date: 'd MMM y' }}
        </div>
        <div class="comment-item-content-header-panel">
          <span *ngIf='loggedIn && (comment.author.id === user.id)' (click)="deleteComment(comment.id)">
            <mat-icon svgIcon="delete"></mat-icon>
          </span>
        </div>
      </div>
      <div class="comment-item-content-text">{{ comment.text }}</div>
    </div>
  </div>
</div>
