// HEx
@import '~@bitnami/hex/lib';

// Import your custom theme
@import '../../theme.scss';

// Variables
$header-bar-padding: 0 2em;
$header-bar-padding-small: 0 2em;

.header-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: z-index('top');

  .header {
    &__logo img {
      margin-top: .17em;
    }
  }
}
