@import '../../theme.scss';

$featured-background: #053B5D;

.subhero {
  margin-top: -19px;
  background: #053B5D;

  .container {
    max-width: $layout-max-width;
    padding: 20px;
    margin: 0 auto;
  }

  &__content {
    max-width: $layout-max-width;

    .subtitle, p {
      color: $text-light-gray;
    }
  }
}
