<section class="subhero type-color-reverse">
  <div class="container">
    <div class="subhero__content">
      <h6 class="subhero__content__heading type-uppercase type-small">Featured App</h6>
      <div class="row margin-reset">
        <div class="col-8">
          <h2 class="type-bold">JFrog Artifactory</h2>
          <h6 class="subtitle">Universal Artifact Repository Manager</h6>
          <p class="type-big">
            JFrog Artifactory Open Source is an open source repository manager.
            Artifactory includes features such as fine-grained permissions, LDAP
            integration, advanced artifacts management policies, scheduled
            backups, auditing, and more.  
          </p>
        </div>
        <div class="col-4 align-center text-c">
          <img class="margin-t-giant" src="/assets/images/jfrog-artifactory-logo.png" height="96" />
        </div>
        <div class="col-12">
          <div class="subhero__action margin-t-small margin-b-big">
            <a routerLink="/charts/jfrog/artifactory" class="button">Deploy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
