<section class="subhero">
  <div class="container">
    <div class="subhero__content">
      <h2>Featured</h2>
      <div class="row">
        <div class="col-2">
          <img class="subhero__logo" src="/assets/images/jfrog-artifactory-logo.png" height="96" />
        </div>
        <div class="col-10">
          <p>
            JFrog Artifactory Open Source is an open source repository manager.
            JFrog Artifactory was built to tackle some real world problems with
            Maven, and includes features such as fine-grained permissions, LDAP
            integration, advanced artifacts management policies, scheduled backups,
            auditing, and more. JFrog Artifactory works with Maven, Ivy, and Gradle
            and supports hosting and remote proxying of artifacts. It integrates
            with Jenkins, TeamCity, Bamboo and other CI servers.
          </p>
          <a href="/charts/jfrog/artifactory" class="button button-action">Deploy Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
