<app-panel class="chart-details-usage" [border]=true>
  <h1>Install</h1>
  <div *ngIf="showRepoInstructions" class="chart-details-usage__repository">
    <label for="repoAddInstructions">Add {{ chart.attributes.repo.name }} repository</label>
    <div class="input-group">
      <input id="repoAddInstructions" readonly [value]=repoAddInstructions />
      <button class="button" ngxClipboard [cbContent]="repoAddInstructions" (cbOnSuccess)="showSnackBar()"
        angulartics2On="click" angularticsEvent="RepositoryCopy" angularticsCategory="{{ chart.id }}"
        [angularticsProperties]="{ label: currentVersion }">
        <mat-icon svgIcon="content-copy"></mat-icon>
      </button>
    </div>
  </div>
  <div>
    <label for="installInstructions">Install chart</label>
    <div class="input-group">
      <input id="installInstructions" readonly [value]=installInstructions />
      <button class="button" ngxClipboard [cbContent]="installInstructions" (cbOnSuccess)="showSnackBar()"
        angulartics2On="click" angularticsEvent="ChartInstallationCopy"
        angularticsCategory="{{ chart.id }}" [angularticsProperties]="{ label: currentVersion }">
        <mat-icon svgIcon="content-copy"></mat-icon>
      </button>
    </div>
  </div>
  <p class="help-link">
    <a href="https://github.com/kubernetes/helm/blob/master/docs/quickstart.md"
      target="_blank" title="How to install Helm">Need Helm?</a>
  </p>
  <div class="kubeapps-promo">
    <img
      alt="kubeapps"
      class="kubeapps-logo"
      src="/assets/images/kubeapps-black-on-white.svg"
      width="110"
      />
    Easily deploy and manage {{ chart.attributes.name }} in your
    Kubernetes cluster with Kubeapps.<br />
    <a href="https://github.com/kubeapps/kubeapps/blob/master/docs/user/getting-started.md" target="_blank">
      Get Started on GitHub
    </a>
  </div>
</app-panel>
