<article class="Card">
  <div class="Card__inner bg-white elevation-1">
    <a [href]="goToDetailUrl()" [routerLink]="goToDetailUrl()">
      <div class="Card__icon bg-light text-c">
        <img alt="{{ chart.attributes.name }}'s logo" src="{{ iconUrl }}"/>
      </div>
      <div class="Card__content padding-normal">
        <div>
          <h3 class="Card__content__title">
            <a [href]="goToDetailUrl()" [routerLink]="goToDetailUrl()">
                {{ chart.attributes.name }}</a>
          </h3>
          <span class="Card__content__stargazers type-small padding-v-tiny padding-h-small" (click)="toggleStarred($event)">
              <mat-icon *ngIf="star.has_starred" svgIcon="star"></mat-icon>
              <mat-icon *ngIf="!star.has_starred" svgIcon="star-border"></mat-icon>
              {{ star.stargazers_count }}
            </span>
        </div>
        <div class="Card__content__info text-r">
          <p class="margin-reset type-color-light-blue" *ngIf="chart.relationships.latestChartVersion.data.app_version">
            {{ chart.relationships.latestChartVersion.data.app_version }}
          </p>
          <span class="Card__content__repo {{chart.attributes.repo.name}} padding-tiny padding-h-normal type-small margin-t-small">
            <a [href]="goToRepoUrl()" [routerLink]="goToRepoUrl()">
                {{ chart.attributes.repo.name }}</a>
          </span>
        </div>
      </div>
    </a>
  </div>
</article>
