// Import your custom theme
@import '../../theme.scss';

// HEx
@import '~@bitnami/hex/lib';

// Vars
$chart-item-content-height: 150px;
$chart-item-logo-width: 80px;

$card-icon-height: 72px;

.Card {
  color: color('text');

  &__inner {
    width: 100%;
    height: 100%;
  }

  &__icon {
    display: flex;
    height: calc(#{$card-icon-height} + 2em);
    align-items: center;
    justify-content: center;

    img {
      max-height: $card-icon-height;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    &__title {
      word-break: break-all;
      flex: 1;
      font-size: 1.1em;
      font-weight: bold;
      margin: 0;
    }

    &__info {
      margin: .15em 0 0 .625em;
    }

    &__repo {
      background-color: color-level('iron', 700);
      border-radius: 16px;
      display: inline-block;

      a {
        color: color('white');
      }

      &.stable {
        background-color: color('secondary');
      }

      &.incubator {
        background-color: color('action');
      }
    }

    &__stargazers {
      border: 1px solid color('iron');
      border-radius: 4px;
      color: color('text');

      &:hover {
        background: $background-white;
      }

      .mat-icon {
        height: su(1);
        vertical-align: middle;
        position: relative;
        top: -2px;
        width: su(1);
      }
    }
  }
}
