<app-header-bar></app-header-bar>
<app-panel class="app-panel--container">
  <section class="termsofservice">
    <header class="termsofservice__header">
      <h1 class="termsofservice__header__title">Terms of Service</h1>
      <small>Last Updated: November 15, 2017.</small>
    </header>
    <div class="termsofservice__content">
      <p>
        BitRock Inc. (DBA “Bitnami”) provides KubeApps.com to you subject to the terms of use (“Site Terms”) outlined below. By visiting
        KubeApps.com, you accept the Site Terms.
      </p>

      <h2>Privacy</h2>
      <p>
        Please review our
        <a href="https://bitnami.com/privacy" target="_blank">Privacy Policy</a>.
      </p>

      <h2>Electronic Communications</h2>
      <p>
        When you visit KubeApps.com or send e-mails to us, you are communicating with us electronically. You consent to receive communications
        from us electronically. We will communicate with you by e-mail or by posting notices on KubeApps.com. You agree that
        all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal
        requirement that such communications be in writing.
      </p>

      <h2>Copyright</h2>
      <p>
        All content included on KubeApps.com, such as text, graphics, logos, button icons, images, audio clips, digital downloads,
        data compilations, and software, is the property of Bitnami or its content suppliers and protected by United States
        and international copyright laws. The compilation of all content on KubeApps.com is the exclusive property of Bitnami
        and protected by U.S. and international copyright laws. All software used on KubeApps.com is the property of Bitnami
        or its software suppliers and protected by United States and international copyright.
      </p>
      <p>
        TRADEMARKS
      </p>
      <p>
        “Bitnami”, “BitRock”, and other Bitnami graphics, logos, page headers, button icons, scripts, and service names are trademarks,
        registered trademarks or trade dress of Bitnami in the U.S. and/or other countries. Bitnami’s trademarks and trade
        dress may not be used in connection with any product or service that is not Bitnami’s, in any manner that is likely
        to cause confusion among customers, or in any manner that disparages or discredits Bitnami. All other trademarks
        not owned by Bitnami that appear on this Site are the property of their respective owners, who may or may not be
        affiliated with, connected to, or sponsored by Bitnami.
      </p>

      <h2>License and Site Access</h2>
      <p>
        Bitnami grants you a limited license to access and make personal use of KubeApps.com and not to download (other than page
        caching) or modify it, or any portion of it, except with express written consent of Bitnami. This license does not
        include any resale or commercial use of KubeApps.com or its contents; any derivative use of KubeApps.com or its contents;
        any downloading or copying of account information; or any use of data mining, robots, or similar data gathering and
        extraction tools. Unless otherwise specified by Bitnami in a separate license, your right to use any software, data,
        documentation or other materials that you access or download through KubeApps.com is subject to these Site Terms
        or, if you have a Bitnami account, the Agreement.
      </p>
      <p>
        KubeApps.com or any portion of KubeApps.com may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise
        exploited for any commercial purpose without express written consent of Bitnami. You may not frame or utilize framing
        techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout,
        or form) of Bitnami without express written consent. You may not use any meta tags or any other “hidden text” utilizing
        Bitnami’s name or trademarks without the express written consent of Bitnami. Any unauthorized use terminates the
        permission or license granted by Bitnami. You are granted a limited, revocable, and nonexclusive right to create
        a hyperlink to the home page of KubeApps.com, so long as the link does not portray Bitnami, or its products or services
        in a false, misleading, derogatory, or otherwise offensive matter. You may not use any Bitnami logo or other proprietary
        graphic or trademark as part of the link without express written permission.
      </p>

      <h2>Your Account</h2>
      <p>
        If you use KubeApps.com, you are responsible for maintaining the confidentiality of your account and password and for restricting
        access to your computer, and you agree to accept responsibility for all activities that occur under your account
        or password. Bitnami reserves the right to refuse service, terminate accounts, remove or edit content in its sole
        discretion.
      </p>

      <h2>Reviews, Comments, Communications, and Other Content</h2>
      <p>
        Visitors may post reviews, comments and other content; and submit suggestions, ideas, comments, questions, or other information,
        so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual
        property rights, or otherwise injurious to third parties or objectionable and does not consist of or contain software
        viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of “spam.” You
        may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of content.
        Bitnami reserves the right (but not the obligation) to remove such content, but does not regularly review posted
        content. If you do post content or submit material, and unless we indicate otherwise, you grant Bitnami a nonexclusive,
        royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, translate,
        create derivative works from, distribute, and display such content throughout the world in any media. You grant Bitnami
        and sublicensees the right to use the name that you submit in connection with such content, if they choose.
      </p>
      <p>
        You and third parties may be permitted to upload certain software (including machine images), data, text, audio, video, images
        or other content (“Third Party Content”) to community areas of KubeApps.com. You acknowledge that (a) Bitnami has
        not tested or screened Third Party Content, (b) you use any Third Party Content is at your sole risk, and Third Party
        Content may be subject to separate license terms as determined by the person posting such content.
      </p>
      <p>
        You represent and warrant that you own or otherwise control all of the rights to the content, including any Third Party Content,
        that you post; that the content is accurate; that use of the content you supply does not violate this policy and
        will not cause injury to any person or entity; and that you will indemnify Bitnami for all claims resulting from
        content you supply. Bitnami has the right but not the obligation to monitor and edit or remove any activity or content.
        Bitnami takes no responsibility and assumes no liability for any content posted by you or any third party.
      </p>

      <h2>Disclaimer of Warranties and Limitation of Liability</h2>
      <p>
        KUBEAPPS.COM AND ALL INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING ANY SOFTWARE) AND SERVICES INCLUDED ON OR OTHERWISE
        MADE AVAILABLE TO YOU THROUGH THIS SITE ARE PROVIDED BY BITNAMI ON AN “AS IS” AND “AS AVAILABLE” BASIS, UNLESS OTHERWISE
        SPECIFIED IN THE AGREEMENT. BITNAMI MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO
        THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING ANY SOFTWARE) OR SERVICES
        INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH KubeApps.com, UNLESS OTHERWISE SPECIFIED IN WRITING. YOU EXPRESSLY
        AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, BITNAMI
        DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY
        AND FITNESS FOR A PARTICULAR PURPOSE. BITNAMI DOES NOT WARRANT THAT THIS SITE; INFORMATION, CONTENT, MATERIALS, PRODUCTS
        (INCLUDING ANY SOFTWARE) OR SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH KUBEAPPS.COM; ITS SERVERS;
        OR E-MAIL SENT FROM BITNAMI ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. BITNAMI WILL NOT BE LIABLE FOR ANY DAMAGES
        OF ANY KIND ARISING FROM THE USE OF KubeApps.com OR FROM ANY INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING
        SOFTWARE) OR SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH KUBEAPPS.COM, INCLUDING, BUT NOT LIMITED
        TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES, UNLESS OTHERWISE SPECIFIED IN THE AGREEMENT.
        CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES.
        IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU,
        AND YOU MIGHT HAVE ADDITIONAL RIGHTS.
      </p>

      <h2>Applicable Law</h2>
      <p>
        By visiting KubeApps.com, you agree that the laws of the state of California, without regard to principles of conflict of
        laws, will govern these Site Terms and any dispute of any sort that might arise between you and Bitnami.
      </p>

      <h2>Disputes</h2>
      <p>
        Any dispute relating in any way to your visit to KubeApps.com or to services provided by Bitnami or through KubeApps.com
        in which the aggregate total claim for relief sought on behalf of one or more parties exceeds $7,500 shall be adjudicated
        in any state or federal court in Contra Costa County in California, and you consent to exclusive jurisdiction and
        venue in such courts.
      </p>

      <h2>Site Policies, Modification, and Severability</h2>
      <p>
        Please review our other policies on KubeApps.com. These policies also govern your visit to KubeApps.com. We reserve the right
        to make changes to KubeApps.com, policies, and these Site Terms at any time. If any of these conditions shall be
        deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect
        the validity and enforceability of any remaining condition.
      </p>

      <h2>Our Address</h2>
      <p>
        BitRock, Inc.
        <br> 650 Mission Street, 3rd Floor
        <br> San Francisco, CA 94105
      </p>
    </div>
  </section>
</app-panel>
