@import '../../theme.scss';

.termsofservice {
  max-width: $layout-max-width;
  margin: auto;

  &__header {
    width: 100%;

    &__title {
      margin-top: 0;
      margin-bottom: .25em;
    }
  }

  &__content h2 {
    text-transform: uppercase;
  }
}
