// Import HEx
@import '~@bitnami/hex/lib';

// Import your custom theme
@import '../../theme.scss';

// Variables
$main-header-height: 400px;

.main-header {
  height: $main-header-height;
  padding: 1.5 * $header-bar-height 0 $header-bar-height;
  margin-top: -($header-bar-height);

  &-content {
    @include mappy-bp(medium) {
      display: flex;
      justify-content: space-between;

      & > div {
        width: 47%;
      }
    }

    &__slogan {
      color: color('white');
      font-weight: 100;

      @include mappy-bp(medium) {
        padding: 1em 0;
      }

      p {
        font-size: 2em;
        margin: 0;

        @include mappy-bp(medium) {
          font-size: 2.5em;
        }

        @include mappy-bp(large) {
          font-size: 3em;
        }
      }
    }

  }

  &-search {
    @include mappy-bp(medium) {
      padding-top: 1.8em;
    }

    mat-form-field input {
      margin: 0 auto 5px;
    }

    &__summary {
      font-style: italic;
      color: color-level('secondary', 50);
    }
  }
}
