<section class="main-header gradient-135-brand type-color-reverse-anchor-reset">
  <div class="container">
    <app-header-bar [showSearch]="false" [transparent]="true"></app-header-bar>
    <div class="main-header-content padding-h-bigger">
      <div class="main-header-content__slogan">
        <p>
          Discover & launch great Kubernetes-<wbr>ready apps
        </p>
      </div>
      <div class="main-header-search type-big">
        <form (ngSubmit)="searchCharts(searchBox)">
          <label for="searchBox">Search charts</label>
          <input id="searchBox" placeholder="WordPress, Jenkins, Kubeless..." #searchBox />
        </form>
      </div>
    </div>
  </div>
</section>
