@import '../../theme.scss';

// HEx
@import '~@bitnami/hex/lib';

.panel {
  padding: 2em;

  &--container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  &--background {
    background-color: $layout-light;
  }

  &--border {
    border: 1px solid color('iron');
  }

  &__title {
    margin-top: 0;
  }
}
