// Import your custom theme
@import '~@bitnami/hex/lib';

.markdown-body {
  .highlight pre,
  pre {
    // Override github-markdown.css
    background-color: color('dark') !important;
  }

  blockquote {
    text-align: left;

    &:after,
    &:before {
      display: none;
    }
  }
}
